*{
    margin: 0;
    padding: 0;
}
#minha-foto{
    max-width: 300px;
    border-radius: 50%;
}
.header{
    background-color: rgb(170, 170, 170);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    margin: 0 20px;
    
}
button{
    padding: 10px 25px;
    border-radius: 6px;
    color: black;
    background-color: rgb(193, 243, 255);
    border: none;
    
}
button:hover{
    background-color: rgb(161, 227, 243);
    box-shadow: 0 2px 0 rgb(112, 181, 199);
}
button:active{
    position: relative;
    top: 2px;
    box-shadow: none;
}
.section{
    text-align: center;
    margin: 50px;
}
.footer{
    background-color: rgb(170, 170, 170);
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}
.icone{
    background-color: rgb(170, 170, 170);
    max-width: 30px;
    margin: 8px 15px 2px 15px;
}
.foto-site-projetos{
    max-width: 250px;
    border-radius: 3px;
    margin: 10px 60px;
}
table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 200px;
}
.frase-projeto{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px 0px;
}
